@import url('https://fonts.googleapis.com/css2? family= Roboto+Flex:opsz,wght@8..144,200 & family= Source+Sans+Pro:ital,wght@1,300 & display =intercambiar');

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    color: black;
    font-family:Roboto Flex', sans-serif;;
}



.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgb(177, 202, 226);
    flex-direction: column;
    padding: 10px;

}

.navbar{
    height: 50px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.imagen{
    height: 100%;
    width: 100px;
    justify-content: center;
    display: flex;
 
}

.imagen img{
    height: 100%;
    width: auto;
}

.navegacion{
    width: 30%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

ul{
    width: 100%;
    list-style: none;
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: black;
}




.main{
    padding: 20px;
    background-color: rgb(231 215 215);;
    display: flex;
    display: 1;
    justify-content: space-between;
    align-items: center;

}

h1{
    font-size: 40px;
    font-weight: 150px;

}

p{
     width: 80%;
     font-size: 15px;
     line-height: 30px;
}

.imagin img{
     width: 85%;

}

 
.text{
     width: 50%;
     display: flex;
     flex-direction: column;
     gap: 10px;

}

.botones{

    display: flex;
    align-items: center;
    gap: 10px;

}